@font-face {
  font-family: 'UhBee Hyeki';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeHyeki.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
